h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-page {
  background-color: darkgoldenrod;
  padding: 40px;
  height: 220vh
}

.users_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background: rgb(255, 254, 254);
  gap: 30px;
  padding: 10px;
}
.users_card {
  background-color: darkgoldenrod;;
  padding: 10px;
  box-shadow: 1px 2px 3px rgb(230, 225, 225);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.users_details {
  padding-left: 7px;
}
.users_details p {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.pagination_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.pagination_container button {
  cursor: pointer;
}
.active {
  background: gray;
}

.pageBtns {
  margin-right: 5px;
}
@media (max-width: 900px) {
  .users_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .users_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}